<section class="mt-7 md:mt-0 about-me p-5 shadow-card3 rounded-lg dark:bg-zinc-800 {{this.additionalClasses}}">
    <h3 class="text-xl font-medium mb-2">Su di me</h3>
    {{#get "posts" slug="about-me" as |post|}}
        <div class="opacity-80 leading-6 little-article">
            {{#post}}
                {{{content}}}
            {{/post}}
        </div>
    {{/get}}
</section>
