<footer>
    <div class="socials">
        <a target="_blank" href="https://www.instagram.com/__danyc__"><i class="bi bi-instagram"></i></a>
        <a target="_blank" href="https://it.linkedin.com/in/daniele-castiglia-867870205"><i class="bi bi-linkedin"></i></a>
    </div>
    <div class="info">
        <a href="mailto:castiglia.daniele@outlook.com">castiglia.daniele@outlook.com</a>
        <a href="tel:3383914342">+39 338 391 4342</a>
    </div>
    <div class="cf-and-copyright">
        <p>Codice Fiscale: CSTDNL02E03F656A</p>
        <p>© 2024 Daniele Castiglia</p>
    </div>
    <hr />
    <div class="legal">
        {{#get "pages" filter="slug:privacy-policy" as |privacyPolicy|}}
            {{#if privacyPolicy}}
                <a href="{{privacyPolicy.[0].url}}">Privacy</a>
            {{/if}}
        {{/get}}
        {{#get "pages" filter="slug:cookie-policy" as |cookiePolicy|}}
            {{#if cookiePolicy}}
                <a href="{{cookiePolicy.[0].url}}">Cookie</a>
            {{/if}}
        {{/get}}
    </div>
</footer>