<ul class="lg:flex lg:gap-x-5">
    {{#foreach navigation}}
        <li class="py-1 nav-{{slug}}{{#if current}} nav-current{{/if}} lg:text-md">
            {{#if current}}
                <i class="lg:hidden bi bi-chevron-right text-primary-default"></i>
            {{/if}}
            <a href="{{url absolute=" true"}}" class="{{#if current}} lg:active-page {{/if}}">{{label}}</a>
        </li>
    {{/foreach}}
</ul>
