<section class="presentation-block">
    <div class="image">
        <img src="{{asset "images/my_photo.png"}}" class="my-photo" alt="Daniele Castiglia" />
        <img src="{{asset "images/green_vector.svg"}}" class="vector vector-green" alt="" />
        <img src="{{asset "images/red_vector.svg"}}" class="vector vector-red" alt="" />
    </div>
    <h1>Daniele Castiglia</h1>
    <h2>Fullstack Developer</h2>
    <a download href="{{asset "file/cv_castiglia_daniele.pdf"}}" class="cta align-center"><span>Scarica il mio CV</span></a>
</section>