<section class="signup px-4 py-24 pt-12 lg:py-0 lg:h-screen lg:flex lg:flex-col lg:items-center lg:justify-center">
    <div class="w-full lg:max-w-2xl lg:shrink-0">
        <p class="mb-2 text-xl lg:text-3xl font-medium text-left">Iscrivi alla mia newsletter</p>
        <p class="mb-10 opacity-80">Resta aggiornato insieme a me. Niente spam, promesso!</p>
        <form data-members-form>
            <div class="flex flex-wrap lg:flex-nowrap gap-5 items-stretch">
                <input required data-members-email type="email" name="email" placeholder="Inserisci la tua email" class="outline-primary-default w-full py-3 px-4 text-sm rounded-lg dark:bg-zinc-700">
                <div class="w-full flex justify-center lg:block lg:w-fit">
                    <button type="submit"
                        class="h-cta px-5 font-semibold uppercase bg-primary-default text-zinc-200 dark:text-inherit rounded-full">Iscrivimi</button>
                </div>
            </div>
        </form>
    </div>
</section>
