<section class="latest-articles mt-12 py-24 px-5 lg:mx-auto lg:min-h-screen lg:flex dark:lg:bg-zinc-800 lg:bg-zinc-300">
    <div class="mb-5 lg:mb-0 lg:w-latest-article-left lg:pr-64px">
        <p class="title text-xl lg:text-4xl font-medium">Ultimi articoli</p>
    </div>
    <div class="cards sm:grid sm:grid-cols-2 lg:grid-cols-2 3xl:grid-cols-3 gap-x-10 lg:w-latest-article-right">
        {{> "partials/articles-list"}}
    </div>
</section>
