<section class="latest-articles">
    <div class="header">
        <p class="title">Ultimi articoli</p>
        {{!-- <div class="actions">
            <i data-ghost-search class="bi-search"></i>
        </div> --}}
    </div>
    {{> "partials/articles-list"}}
</section>
