<div class="article-info">
    <div class="flex-grow"></div>
    <div class="tags">
        {{#foreach tags visibility="public"}}
            <div class="tag"><span>{{name}}</span></div>
        {{/foreach}}
    </div>
</div>
