<div class="socials flex items-center {{#if this.justify}} justify-center {{/if}} gap-4 {{this.mb}}">
    <a target="_blank" href="https://www.github.com/J-Dany" class="text-2xl"><i class="bi bi-github"></i></a>
    <a target="_blank" href="https://www.instagram.com/ilcastiglia" class="text-2xl"><i class="bi bi-instagram"></i></a>
    <a target="_blank" href="https://it.linkedin.com/in/daniele-castiglia-867870205" class="text-2xl"><i
            class="bi bi-linkedin"></i></a>
</div>
