{{!< layout}}

<div class="px-4 lg:h-presentation-block lg:content-center lg:grid lg:grid-cols-2 xl:max-w-7xl lg:mx-auto">
    {{> "presentation-block" }}
    {{> "about-me" }}
</div>
{{> "latest-articles"}}
