@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .hljs-ln-numbers {
    padding-right: 4px !important;
    border-right: 1px solid theme("colors.gray.600");
  }

  .hljs-ln-code {
    padding-left: 12px !important;
    padding-right: 80px !important;
  }
}
